@import url('https://fonts.googleapis.com/css2?family=Your+Decorative+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato&display=swap');

main {
  background-color: #F3D5C0;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.main__div1 {
  display: flex;
  align-items: center;
}

.main__div2 {
  padding: 0;
}

img {
  width: 40%;
  height: auto;
}

h2,
h3,
h4 {
  padding-left: 1rem;
}

p {
  flex: 1;
  margin-left: 1rem;
}
