@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  background-color: #C8C6AD;
}

main {
  background-color: #F3D5C0;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.container {
  margin-top: 2rem;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

.menteesImg {
  border-radius: 50%;
  max-width: 350px;
}
